body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: turquoise;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  .move {
      float: right;    
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
 }
 .container {
   width: 1000px;
   margin: auto;
   margin-top: 20px;
   border: 3px solid steelblue;
   padding: 10px;
   background-color: slategrey
  }
  .graphs{
    position: relative;
    top: 8px;
    right: 16px;
    padding: 10px;
    float: right;
  }

  .graph1 {
    float: right;
  }

  .section{
    float: right;
    margin: 0 1.5%;
    width: 2px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
}
.table-scroll {
	height: 400px !important;
    overflow-y: scroll;
}

td, th {
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color:lightgray;
}

tr:nth-child(odd){
	background: white;
}
 